<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510118718400-7c0ehng133o67n1avmd6ka0hp5tdqlv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510118718400-7c0ehng133o67n1avmd6ka0hp5tdqlv2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzaSHZp-A2u_j4ugTsmSRyFIRkrKzASmo</string>
	<key>GCM_SENDER_ID</key>
	<string>510118718400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesometsproject.debug</string>
	<key>PROJECT_ID</key>
	<string>awesometsproject-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>awesometsproject-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510118718400:ios:dffc03abb123bd67717625</string>
</dict>
</plist>